<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">
        {{ cardData["type"] }}
      </h5>
      <h6 class="card-price text-center">
        ${{ cardData["price"] }}<span class="period">/month</span>
      </h6>
      <hr />
      <ul class="fa-ul">
        <li
          *ngFor="let option of cardData['options']"
          [ngClass]="{ 'text-muted': !option[0] }"
        >
          <span class="fa-li"
            ><fa
              class="fas"
              [ngClass]="{
                'fa-check': option[0],
                'fa-times': !option[0]
              }"
            ></fa>
          </span>
          <div [innerHtml]="option[1]"></div>
        </li>
      </ul>
      <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
    </div>
  </div>